@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.navbar {
  padding: 10px 24px;
  text-align: right;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.09);
  position: sticky;
  top: 0;
  left: 0;
  background: white;
}

.clone-bot-btn {
  border-radius: 4px;
  background: #4529FA;
  box-shadow: 0px 2px 4px 0px rgba(28, 39, 76, 0.07);
  color: #FFF;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 18px;
}

.icon-border {
  height: 16px;
  width: 2px;
  background-color: rgb(228, 229, 234);
}

.icon-border-b {
  width: 50px;
  height: 1px;
  background: black;
  opacity: 0.25;
}

.icon-border-c {
  width: 2px;
  height: 28px;
  background: black;
  opacity: 0.10;
}

.link-hover:hover {
  border-radius: 4px;
  background: #EFEDF6;
  padding: 13px 10px;
}

.sidebar-how-text-hover:hover {
  border-bottom: #1C274C 1px solid;
}

.sidebar-description {
  color: var(--main-54848-a-9-e, #848A9E);
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sidebar-how-text {
  color: var(--main-1-c-274-c, #1C274C);
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.webbot-sidebar-item-default {
  padding: 13px 10px;
  color: var(--main-873-a-4363, #3A4363);
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ai-image-gen {
  color: var(--main-1-c-274-c, #110A3F);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ai-image-description {
  color: var(--main-1-c-274-c, #1C274C);
  font-family: 'Inter, JB mono', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.web-chat-default-text {
  color: var(--main-1-c-274-c, #1C274C);
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} 

.webbot-sidebar-item-current {
  border-radius: 4px;
  background: rgba(69, 41, 250, 0.14);
  padding: 13px 10px;
}

.create-app-btn {
  border-radius: 4px;
  border: 1px solid rgba(28, 39, 76, 0.14);
  background: #FFF;
  padding: 11px 20px;
  margin: 0px 16px;
}

.description {
  color: var(--main-873-a-4363, #3A4363);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}